body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}
.container {
    margin-top: 20px;
}
.form-container {
    margin-bottom: 20px;
}
.form-group label {
    font-weight: bold;
}
.btn-primary, .btn-success, .btn-danger {
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.3s;
}
.btn-primary:hover, .btn-success:hover, .btn-danger:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
.table {
    margin-top: 20px;
}
.chart-container {
    height: 300px; /* 統一された高さを指定 */
    position: relative; /* 位置を相対にしてキャンバスを拡大 */
}
.chart-container canvas {
    height: 100% !important; /* キャンバスの高さを親に合わせる */
}
.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-10px);
}
.card-header {
    background-color: #778391;
    color: white;
    border-radius: 10px 10px 0 0;
}
.card-body {
    background-color: white;
}
.text-center {
    color: #040404;
}
h1 {
    color: #080808;
    margin-bottom: 20px;
    font-size: 2.5rem;
}